{% extends 'accounts/home.html' %}
{% load static %}
{% block content %}

<br><br>
<br>
<div class="bookcontainer">
    <div class="thisbook">

        <div class="feedback">
            <div class="votecontainer">
                {% if request.user in uv %}
                <a href="{% url 'removeupvote' book.id %}"><img src="/static/images/Up_green_arrow.png" alt="" class="votes"></a>
                {%else%}
                <a href="{% url 'upvote' book.id %}" ><img src="/static/images/uparrow_black.png" alt="" class="votes"></a>
                {%endif%}
                <p class="votes">{{votes}}</p>
                {% if request.user in dv %}
                <a href="{% url 'removedownvote' book.id %}"><img style="transform: rotate(180deg);"  src="/static/images/arrow_up_red.png" alt="" class="votes"></a>
                {%else%}
                <a href="{% url 'downvote' book.id %}" ><img style="transform: rotate(180deg);" src="/static/images/uparrow_black.png" alt="" class="votes"></a>
                {%endif%}
            </div>
            <br><br><br><br>

        </div>
    <div class="imgcontainer">
        <img style="height: 550px; margin:10px; width: 400px; " src="{{book.image.url}}" alt="">
    </div>
    <div class="book">
        <br>
        <h2 style="display:flex; width:300px">{{book.name}}</h2>
        <p>{{book.author}}</p>
        <p>{{book.language}}</p>
        <br><br><br><br>
        <div class="btncontainer">
            {% if pending %}
            <h5 style="color: rgb(70, 70, 216);">Issual Request sent</h5>
            {% elif issued %}
            <h5 style="color: rgb(42, 238, 42);">Issued</h5>
            {% elif book.quantity is 0 %}
            <h5 style="color:rgb(226, 66, 66) ;">Not Available</h5>
            {% else %}
            <a href="{% url 'issuebook' book.id %}" role="button" id="issue" class="btn">Issue Now</a>
            {% endif %}
            
        </div>
        
    </div>
    </div>
    <div class="desc">
        
        <b style="font-size: 1.25em;">About the book</b>
        <p class="description">{{book.description}}</p>
        <div id="reviewsdiv">
    
            <h5>Reviews</h5>

                <p id="user{{ forloop.counter }}">{{reviews.0.user}}</p>
                <p id="review{{ forloop.counter }}">{{reviews.0.Review}}</p>
                <p id="user{{ forloop.counter }}">{{reviews.1.user}}</p>
                <p id="review{{ forloop.counter }}">{{reviews.1.Review}}</p>
                <p id="user{{ forloop.counter }}">{{reviews.2.user}}</p>
                <p id="review{{ forloop.counter }}">{{reviews.2.Review}}</p>

                {% if reviews.count > 3  %}
                <button class="btn btn-sm btn-outline-secondary" id="view" onclick="addReview()">view all reviews</button>
                {% endif %}

        </div>
    </div>
</div>
<script>


    var size= "{{length}}"



    
    let reviews="{{reviews}}";
    const userarr=[]
    const reviewarr=[]
{% for review in reviews %}

    userarr.push("{{review.user}}")
    reviewarr.push("{{review.Review}}")

{%  endfor %}  




const view=document.getElementById('view')


var i=3;
 function addReview(){
    while(i<size){
    console.log(i)
    var html = ''
    if(i<size){html += `<p>${userarr[i]}</p><p>${reviewarr[i]}</p>`}

    document.getElementById('reviewsdiv').innerHTML += html
    document.getElementById('view').style.display="none";
    i++;


};}



    
    
</script>

<style>
    .thisbook   {
        display: flex;
   
        right: 5%;

    }

    .bookcontainer{
     
        display: flex;
        
        margin: 1em;
        padding: 1em;
        

    }
    .issueform{
        display:none
    }
    .btncontainer{
        display: flex;
        padding: 1em;
        margin-top: 50px;
    }
    form{
        margin: 5px;
    }
    .votecontainer{
        display: flex;
        flex-direction: column;
        
        margin: 0;
        margin-left: 10px;
        padding: 0;
    }
    .votes{
        position: relative;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height:50px;
        width: 50px;
        text-align: center;
        font-size: xx-large;
        justify-content: center;
    }
    .desc{
        display: flex;
        flex-direction: column;
        width: 50%;
        

    }
    .review{
        margin-top: 50px;
    }
    .description{
        height: 30vh;
        overflow-y: scroll;
    }
    .description::-webkit-scrollbar{
        display: none;
    }
    </style>
{% endblock %}