{% extends 'accounts/home.html' %}
{% load static %}
{% block content %}
<style>
    .bookcontainer{
        display: flex;
        margin: 1em;
        padding: 1em;
    }
    .issueform{
        display:none
    }
    .btncontainer{
        display: flex;
        padding: 1em;
    }
    form{
        margin: 5px;
    }
    .votecontainer{
        display: flex;
        flex-direction: column;
        
        margin: 0;
        margin-left: 10px;
        padding: 0;
    }
    .votes{
        position: relative;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height:50px;
        width: 50px;
        text-align: center;
        font-size: xx-large;
        justify-content: center;
    }
    </style>
<br><br>
<br>
<div class="bookcontainer">
    <div class="imgcontainer">
        <img style="height: 305px; margin:10px; width: 220px; " src="{{book.image.url}}" alt="">
    </div>
    <div class="book">
        <br>
        <h2>{{book.name}}</h2>
        <p>{{book.author}}</p>
        <div class="votecontainer">
            {% if request.user in uv %}
            <img src="/static/images/Up_green_arrow.png" alt="" class="votes">
            {%else%}
            <a href="{% url 'upvote' book.id %}" ><img src="/static/images/uparrow_black.png" alt="" class="votes"></a>
            {%endif%}
            <p class="votes">{{votes}}</p>
            {% if request.user in dv %}
            <img style="transform: rotate(180deg);"  src="/static/images/arrow_up_red.png" alt="" class="votes">
            {%else%}
            <a href="{% url 'downvote' book.id %}" ><img style="transform: rotate(180deg);" src="/static/images/uparrow_black.png" alt="" class="votes"></a>
            {%endif%}
        </div>
        <div class="btncontainer">
            {% if pending %}
                <h5>Issual Request sent</h5>
            {% elif issued %}
                <h5>Issued</h5>
            {% else %}
                <a href="{% url 'issuebook' book.id %}" role="button" id="issue" class="btn">Issue Now</a>
            {% endif %}

        </div>
            
    </div>
</div>
<div >

    <div class="desc">
        
        <p>About the book</p>
        <p>{{book.description}}</p>
    </div>
    <div class="review"> 
        <a class="btn btn-primary me-2"href="{% url 'reviewpage' book.id %}"role="button">View Reviews</a>
            
    </div>
</div>

{% endblock %}