{% extends 'accounts/home.html' %}
{% load static %}
{% block content %}

<br><br>
<br>
<div class="bookcontainer">
    <div class="thisbook">

        <div class="feedback">
            <div class="votecontainer">
                {% if request.user in uv %}
                <a href="{% url 'removeupvote' book.id %}"><img src="/static/images/Up_green_arrow.png" alt="" class="votes"></a>
                {%else%}
                <a href="{% url 'upvote' book.id %}" ><img src="/static/images/uparrow_black.png" alt="" class="votes"></a>
                {%endif%}
                <p class="votes">{{votes}}</p>
                {% if request.user in dv %}
                <a href="{% url 'removedownvote' book.id %}"><img style="transform: rotate(180deg);"  src="/static/images/arrow_up_red.png" alt="" class="votes"></a>
                {%else%}
                <a href="{% url 'downvote' book.id %}" ><img style="transform: rotate(180deg);" src="/static/images/uparrow_black.png" alt="" class="votes"></a>
                {%endif%}
            </div>
            <br><br><br><br>

        </div>
    <div class="imgcontainer">
        <img style="height: 550px; margin:10px; width: 400px; " src="{{book.image.url}}" alt="">
    </div>
    <div class="book">
        <br>
        <h2 style="display:flex; width:300px">{{book.name}}</h2>
        <p>{{book.author}}</p>
        <p>{{book.language}}</p>
        <br><br><br><br>
        <div class="btncontainer">
            {% if pending %}
            <h5 style="color: rgb(70, 70, 216);">Issual Request sent</h5>
            {% elif issued %}
            <h5 style="color: rgb(42, 238, 42);">Issued</h5>
            {% elif book.quantity is 0 %}
            <h5 style="color:rgb(226, 66, 66) ;">Not Available</h5>
            {% else %}
            <a href="{% url 'issuebook' book.id %}" role="button" id="issue" class="btn">Issue Now</a>
            {% endif %}
            
        </div>
        
    </div>
    </div>
    <div class="desc">
        
        <b style="font-size: 1.25em;">About the book</b>
        <p class="description">{{book.description}}</p>
    </div>
</div>

<div class="similarbooks">
    <h5>Similar Books</h5>
    <div class="card-group">
        <div class="row ">
          {% for i in similar_books %}
  
          <div class="col mx-2 mb-3">
            <div class="card card-container" style="width: 280px">
              <img
                src="{{i.image.url}} "
                style="height: 200px"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <a href="{% url 'bookdetail' i.id %} " class="booklink text-center"
                  ><h5 class="card-title">{{i.name}}</h5></a
                >
                <p class="card-text text-center">{{i.author}}</p>
                {% if i.quantity %}
                <p class="card-text text-center" style="color: green">IN STOCK</p>
                {% else %}
                <p class="card-text text-center" style="color: red">NOT AVAILABLE</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        

</div>


<div id="reviewsdiv">

    <h5>Reviews</h5>
    {% if  reviews.0.user %}
        <div class="reviewdiv border">
            <div class="reviewhead ">
                <img src="{% static '/images/user.png' %}" alt="" class="reviwimg">
                <p class="reviewuser">{{reviews.0.user}}</p>
            </div>
            <div class="reviewbody">

                <p class="reviewtext">{{reviews.0.Review}}</p>
            </div>
        </div>
    {% elif reviews.1.user %}
        <div class="reviewdiv border">
            <div class="reviewhead ">
                <img src="{% static '/images/user.png' %}" alt="" class="reviwimg">
                <p class="reviewuser">{{reviews.1.user}}</p>
            </div>
            <div class="reviewbody">

                <p class="reviewtext">{{reviews.1.Review}}</p>
            </div>
        </div>
    {% elif review.2.user %}
        <div class="reviewdiv border">
            <div class="reviewhead ">
                <img src="{% static '/images/user.png' %}" alt="" class="reviwimg">
                <p class="reviewuser">{{reviews.2.user}}</p>
            </div>
            <div class="reviewbody">

                <p class="reviewtext">{{reviews.2.Review}}</p>
            </div>
        </div>

    {% endif %}

        {% if reviews.count > 3  %}
        <button class="btn btn-sm btn-link" id="view" onclick="addReview()">view all reviews</button>
        {% endif %}

</div>
<script>


    var size= "{{length}}"



    
    let reviews="{{reviews}}";
    const userarr=[]
    const reviewarr=[]
    {% for review in reviews %}

    userarr.push("{{review.user}}")
    reviewarr.push("{{review.Review}}")

    {%  endfor %}  




    const view=document.getElementById('view')


    var i=3;
    function addReview(){
        while(i<size){
        console.log(i)
        var html = ''
        if(i<size){html += `<div class="reviewdiv border">
                                <div class="reviewhead ">
                                    <img src="{% static '/images/user.png' %}" alt="" class="reviwimg">
                                        <p class="reviewuser">${userarr[i]}</p>
                                </div>
                                <div class="reviewbody">
                                    <p class="reviewtext">${reviewarr[i ]}</p>
                                </div>
                            </div>`}

        document.getElementById('reviewsdiv').innerHTML += html
        document.getElementById('view').style.display="none";
        i++;


    };}



    
    
</script>

<style>
    .thisbook   {
        display: flex;
        position: static;
        right: 5%;

    }

    .bookcontainer{
     
        display: flex;
        
        margin: 1em;
        padding: 1em;
        

    }
    .issueform{
        display:none
    }
    .btncontainer{
        display: flex;
        margin-top: 50px;
    }
    form{
        margin: 5px;
    }
    .votecontainer{
        display: flex;
        flex-direction: column;
        
        margin: 0;
        margin-left: 10px;
        padding: 0;
    }
    .votes{
        position: relative;
        justify-items: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height:50px;
        width: 50px;
        text-align: center;
        font-size: xx-large;
        justify-content: center;
    }
    .desc{
        display: flex;
        flex-direction: column;
        width: 50%;
        

    }
    .review{
        margin-top: 50px;
    }
    .description{
        margin-bottom: 100px;
        height: 76vh;
        overflow-y: scroll;
    }
    .description::-webkit-scrollbar{
        display: none;
    }


    /* review */
    #reviewsdiv{
        margin: 20px;
        width: 90%;
    }
    .reviewdiv{
        margin: 20px auto;
    }
    
    .reviewhead img {
        height: 30px;
        margin-right: 10px;
    }
    .reviewhead{
        display: flex;
       
        padding-left: 10px;
        
    }
    .reviewuser{
        font-weight: 450;

    }
    .reviewbody{
        background-color: rgba(247, 238, 238, 0.925);
        padding-left: 50px;
        
    }
    .reviewtext{
        margin: 0;
    }
    /* similar books */
    .similarbooks{
        margin: 30px;
    }

    .booklink {
    text-decoration: none;
  }
  .booklink:hover{
    color: rgb(77, 37, 37);
  }

  .card:hover {
    box-shadow: 2px 2px 2px 1px grey;
  }

  .card-container:hover{
    background-color: #c3c1bf96
  }

  .themebtn {
    border: 2px solid #c3c1bf;
  }
  .themebtn:hover {
    border: 2px solid #c3c1bf;
    background-color: #c3c1bf;
    color: white;
  }


    </style>
{% endblock %}