{% extends 'accounts/main.html' %} {% block content %}


<br><br>
<br><br>
<form action="" method="GET">

  {% csrf_token %}
  {{myfilter.form}}
<button class="btn btn-secondary search input" type="submit">Search</button>

</form>
<br>
<div class="btns">
  <a href="" type="button" class="btn btn-outline-secondary me-2">View Queries</a>
  <a href="{% url 'moderator' %}" type="button" class="btn btn-outline-secondary me-2">Go To Moderator</a>
</div>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Customer</th>
          <th>Book</th>


          <th>Status</th>
          <th></th>
          
        </tr>
        {% for i in orders %}
        <tr>
          <form action="{% url 'saveorder' i.id  %}" method="POST">
            {% csrf_token %}
            <td>{{i.user}}</td>
            <td>{{i.book.name}}</td>

            <td><select name="status" class="form-select" aria-label="Default select example">
              <option selected>{{i.status}}</option>
              <option value="Rented">Rented</option>
              <option value="Pending">Pending</option>
              <option value="Returned">Returned</option>
            </select></td>
            <td>
              <input type="submit" value="Update" class="btn btn-primary sm">
            </td>
          </form>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
