{% extends 'accounts/main.html' %} {% block content %}

<br />

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Customer</th>
          <th>Book</th>
          <th>Date Issued</th>
          <th>Status</th>
          <th>Review</th>
        </tr>
        {% for i in orders %}
        <tr>
          <td>{{i.user}}</td>
          <td>{{i.book.name}}</td>
          <td>{{i.datecreated}}</td>
          <td>{{i.status}}</td>
          <td>{{i.Review}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
