{% extends 'accounts/main.html' %}
 
{% block content %}


    <br>
    <div class="card-group"  >

        {% for i in books %}
        
        <div class="card" style="width: 30em; justify-content: center;">
            <img style=" width:10em ;" src="{{i.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="width: 10rem;"class="card-title">{{i.name}}</h6>
                <h6 style="width: 10rem;"class="card-title">{{i.author}}</h6>
                
            </div>
        </div>
        
        {% endfor %}
    </div>

{% endblock %}
