{% extends 'accounts/main.html' %}
{% load static %}
 
{% block content %}
<style>
    .booklink{
        text-decoration: solid;
        
        color: black;
    }
    .booklink:hover{
        color: #2774f0;
        text-shadow: black;
    }
    .card:hover{
        box-shadow:2px 2px 2px 1px grey;
        
    }

</style>

<img id="bghome" src="{% static '/images/bghome.jpg' %}" alt="">
<div class="container">
        <div id="intro">
            <h3 style="text-align: center;"> Welcome to world of Books</h3>

            <br>

            <form class="d-flex " method="GET" action="{% url 'booksearch' %}">
                {% csrf_token %}
                {{myfilter.form.name}}
                
                {{myfilter.form.category.label}}
                {{myfilter.form.category}}
                <button class="btn btn-secondary search input" type="submit">Search</button><br>
   
              </form>
        </div>
        
    </div>
    <br>
    <div class="card-group" style="display: flex; flex-wrap: wrap; flex-direction: row;"  >

        {% for i in books %}
        
        <div class="card" style=" margin: 5px;">
            <img style="height: 200px ; " src="{{i.image.url}}" class="card-img-top" alt="...">
            <div class="card-body" >
                <a href="{% url 'bookdetail' i.id %}"  class="booklink">{{i.name}}</a>
                <!-- <h6 style="width: 10rem;"class="card-title">{{i.name}}</h6> -->
                <p style="width: 10rem; font-weight: 279;"class="card-title">{{i.author}}</p>
                
            </div>

            
        </div>
        
        {% endfor %}
    </div>

{% endblock %}
