{% extends 'accounts/main.html' %} {% load static %} 
{% block content %}
  <div
    class="login" >
    
      <form id="login" method="POST" ,action="/login/">
        <b>Login</b>
        <br />
        <br />
        {% csrf_token %}
        <span class="logintext">USERNAME  </span>
        <input name="username" type="text" placeholder="" class="input" />
        <br />
        <span class="logintext">PASSWORD </span>
        <input type="password" placeholder="password" name="password" class="input"/>
        <br />
        <br />
        <button type="submit" class="btn btn-dark">Login</button>
        <br />
        <br />
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
        <p>Don't have an account? <a class="url"href="{% url 'register' %}">Register</a></p>
      </form>
    
  </div>
{% endblock %}
