{% extends 'accounts/main.html' %} 
{% block content %}

  
  <br />

  <br />

  <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <table class="table table-sm">
            <tr>
              <th><h4>ADMINS</h4></th>
              <th></th>
              
            </tr>
            {% for i in admin_users %}
            <tr>
              <td>{{i.username}}</td>
              {% if request.user.is_staff %}
              <td><a href="{% url 'removeadmin' i.id %}" class="btn btn-primary" >Remove Admin</a></td>
              {% endif %}
            </tr>
    
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <br>
  <br />


  <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <table class="table table-sm">
            <tr>
              <th><h4>USERS</h4></th>
              <th></th>
              
            </tr>
            {% for i in customer_users %}
            <tr>
              <td>{{i.username}}</td>
              {% if request.user.is_staff %}
              <td><a href="{% url 'addadmin' i.id %}" class="btn btn-primary" >Add to Admin</a></td>
              {% endif %}
            </tr>
    
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    
  {% endblock %}