{% extends 'accounts/main.html' %} {% block content %}
<style>
  body{
    height: 70vh;
  }
</style>
<br>
<br><br>

<div>
    <h5 style="text-align: center;">You have issued the following Books</h5>
    <div style="height:73vh;justify-content: center; align-items:top; display: flex; width: 60%;">
      <div class="row">
        <div class="col-md">
          <div class="card card-body" style="width: 270%;"> 
            <table class="table  tabble-stripped table-sm" >
              <thead class="table-dark">
              <tr >
                

                <th width="10%" style="text-align:center;">Book</th>
                <th width="10%"  style="text-align:center;">Category</th>
                <th width="10%" style="text-align: center;">Date Issued</th>
                <th width="10%"  style="text-align:center;"></th>
                
              </tr>
            </thead>
            <tbody  class="table-info">

              {% for i in orders %}
              <tr>
                
                <td style="text-align:center;">{{i.book.name}}</td>
                <td style="text-align:center;">{{i.book.category}}</td>
                <td style="text-align: center;"> {{i.dateordered}}</td>
                <td style="text-align:center;" >   <a
                  class="btn btn-primary justify sm"
                  href="{% url 'addreview' i.book.id  %}"
                  role="button" 
                  >Add a Review</a
                  >
                </td>
                
                
              </tr>
              
              {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
