{% extends 'accounts/main.html' %} {% block content %}
<br>
<br><br>

<div>
    <h5 style="text-align: center;">Your Wishlist</h5>

    <div class="row">
        <div class="col-md">
          <div class="card card-body">
            <table class="table table-sm">
              <tr>
                
                <th>Book</th>
                <th>Category</th>
                <th></th>
                <th></th>
              </tr>
              {% for i in orders %}
              <tr>
               
                <td>{{i.book.name}}</td>
                <td>{{i.book.category}}</td>

                
                <td><button type="submit" class="btn" id="issue">Add to Issue</button> </td>
                
               
              </tr>
      
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
</div>
{% endblock %}
