{% load static %}
<style>
  .hello{
    color:white;
  }
</style>

<nav  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
    <div class="container-fluid">
      <img id="logo" src="{% static 'images/logo.jpeg' %}" alt="" height="50px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books' %}">Books</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customers' %}">Customers</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <span class="hello">Hello, {{request.user}}</span>
        <a class="nav-link hello" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-outline-success me-2" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-outline-danger me-2" href="{% url 'register' %}" role="button">Register</a>
        {% endif %}
      </div>
    </div>
    
  </nav>