
body{
    background-color: rgba(248, 248, 248, 0.904);
}   
#bghome{
    height: 40rem;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#intro{background-color: rgba(0, 0, 0, 0.548);
    margin: 50px;
    padding: 20px;
   border-radius:15px;
    color: rgba(255, 255, 255, 0.678);
    z-index: 1;
    position: absolute;
    top: 15rem;
    left:20em;
    align-items: center;
    justify-content: center;
}


nav div ul li a:active{
    color: white

}
/* .login{
    position: absolute;
    
    margin: auto;
    top: 230px;
} */
#login {
    position: absolute;

    
    background-repeat: no-repeat;
    background-size: contain;
    height: 307px;
    top: 176px;
    left: 20px;
}
.login{

display: flex;
background-image: url('/static/images/loginpage.jpeg');
}
.input{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.336);
}
.url{
    color: red;
}
.logintext{
    color: darkorange;
}
.searchtext{
    position: absolute;
    top: 250px;
}
#id_name, #id_category{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgba(255, 255, 255, 0.788);
}

#id_category option{
    background-color: black;
}
#issue{
    color: rgb(14, 138, 70);

    border: 1px solid rgb(14, 138, 70);
}
#issue:hover{
    background-color: rgb(41, 223, 123);
    color: white;
    cursor: pointer;
}
#details{
    color: rgb(49, 43, 43);
    background-color: white;
    border: 1px solid black;
  
}

#details:hover{
    background-color: rgb(49, 43, 43);
    color: white;
    cursor: pointer;
}
#wishlist{
    border:1px solid black;
    cursor: pointer;
}
#wishlist:hover{
    color: white;
    background-color: black;
}
.issueform{
    display:none
}